coverage/*
tests/*
react-native.config.js
android/*
iOS/*
node_modules/*
dist/*
yarn.lock
yarn-error.log
babel.config.js
expo-module.config.json
jest.config.js
jsconfig.json
metro.config.js
ReactotronConfig.js
*.svg
*.ttf
*.png
*.otf
*.yml
*.sh
*.md
.eslintrc.js

